.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px; /* Adjust height as needed */
}

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* This ensures the image fits within the slide without being cropped */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff; /* Change color as needed */
}
